* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
}

.App {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
.f-cen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.f-bet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.f-evn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.f-aro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.f-row {
  flex-direction: row;
  gap: 10px;
}
.f-col {
  flex-direction: column;
  gap: 10px;
}

.p4 {
  padding: 4px 8px;
}
.p6 {
  padding: 6px 12px;
}
.p8 {
  padding: 8px 14px;
}
.p16 {
  padding: 20px 35px;
}
.m-top60 {
  margin-top: 60px;
}
.m-bottom50 {
  margin-bottom: 50px;
}

.g2 {
  gap: 2em;
}
.g8 {
  gap: 8px;
}
.g10 {
  gap: 10px;
}
.g15 {
  gap: 15px;
}

.r10 {
  border-radius: 10%;
}

.r20 {
  border-radius: 20%;
}

.r30 {
  border-radius: 30%;
}
.r40 {
  border-radius: 40%;
}
.r50 {
  border-radius: 50%;
}
.btn {
  background: #060606;
  padding: 16px 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #26a560;
}

.search-overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00180872;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
